body {
  text-align: center;
}

.navbar {
   padding-top: 15px;
   border: 0;
   border-radius: 0;
   font-size: 12px;
   letter-spacing: 5px;
 }

.theme1 {
  background-color: #1abc9c;
  color: #ffffff;
}

.dateof {
  padding-top: 15px;
}

#locationbox {
  margin-left: 165px;
  color: #474e5d;
}

#date {
  color: #474e5d;
}

#time {
  color: #474e5d;
}

#descriptionbox {
  height: 100px;
  margin-bottom: 35px;
  color: #474e5d;
}

#usec {
  margin-left: 15px;
}

.btn-default {
  margin-bottom: 20px;
}
